:root{
    --primary--color: linear-gradient(#00917a,#00483d)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid gray;
}

body{
    background: #dedede;
    padding: 0 70px;
}

@media only screen and (max-width: 46.1875em) {
    body{
        padding: 0;
    }
    
}