:root{
    --primary--color: linear-gradient(#00917a,#00483d)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid gray;
}

body{
    background: #f4f4f4;
    padding: 0 70px;
}