.header{
    position: sticky;
    top: 0;
    z-index: 99;
    .header-container{
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        background: #edeeee;
        .logo{
            font-size: 30px;
            font-weight: bold;
            color: #00483d;
            margin-right: 20px;
            text-shadow: 2px 2px 2px #00917a ;
        }
        .search{
            width: 100%;
            display: flex;
            justify-content: space-between;
            border: none;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            border-radius: 15px;
            overflow: hidden;
            input{
                width: 100%;
                padding: 12px;
                border: none;
                outline: none;
                font-size: 16px;
            }
            i{
                width: 7%;
                height: 100%;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--primary--color);
                color: white;
                border-radius: 15px;
            }
        }
        .cart{
            font-size: 40px;
            margin-left: 20px;
            color: #00483d;
        }
    }
    .nav{
        display: flex;
        background: linear-gradient(#00917a,#00483d);
        border-radius: 5px;
        ul{
            display: flex;
            li{
                text-decoration: none;
                list-style: none;
                color: white;
                padding: 5px 15px;
            }

        }
    }
}

.product-card{
    width: 280px;
    height: 350px;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    .card-heart{
        height: 35px;
        width: 35px;
        font-size: 25px;
        border-radius: 50%;
        background: rgba(0,0,0,0.7);
        color: white;
        left: 10px;
    }
    .card-heart ,.card-sale{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
    }
    .card-sale{
        right: 10px;
        height: 40px;
        width: 40px;
        background: orange;
        color: white;
        border-radius: 50%;
        font-size: 13px;
        flex-direction: column;
    
    }
    .card-image{
        margin-top: 20px;
        height: 72%;
    }
    .card-title{
        font-size: 18px;
        transition: 0.1s;
        font-weight: bold;
        text-align: center;
        margin-top: -10px;
        margin-bottom: 5px;
    }

    .card-pricesale, .card-price{
        position: absolute;
    }
    .card-pricesale{
        font-weight: bold;
        font-size: 20px;
        color: #0ea875;
        left: 15px;
    
    }
    
    .card-price{
        right: 75px;
    }
}

.footer{
    // position: sticky;
    // bottom: 0;
    background: linear-gradient(#00917a,#00483d);
    color: white;
    border-radius: 10px 10px 0 0;
    .policy{
        width: 100%;    
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        div{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 25%;
            border-right: 2px solid white;
            cursor: pointer;
            i{
                font-size: 25px;
                margin-bottom: 5px;
            }
        }
    }
    .footer-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        span{
            margin-bottom: 5px;
        }
    }
}

.category{
    width: 20%;
    padding: 5px 10px;
}