

.productpage-container{
    display: flex;
    .product-container-dinamic{
        display: flex;
        flex-direction: column;
        .product-container{
            display: flex;
            flex-wrap: wrap;
        }
        .dinamicbtn-container{
            text-align: center;
            button{
                background: white;
                padding: 5px;
                font-size: 1.5rem;
                height: 50px;
                width: 50px;
                text-align: center;
                margin: 15px;
                color: rgba(0,0,0,0.8);
                border-radius: 50%;
                
            }
            button:disabled{
                background: rgba(0,0,0,0.1);
                color: rgba(0,0,0,0.5);
            }
            .actionbtn{
                background: orange;
                color: white;
            }
        }
    }
    
}